<div class="content">
  <h2>List of users here from Users component:</h2>
  <ul *ngFor="let user of users">
    <li>
      {{ user.name }}
    </li>
  </ul>
  <button (click)="(stopButton)">Stop button</button>

  <div class="client-content">
    <h2>User Parent component</h2>
    <label for="messageInput">Enter message for Client:</label>
    <input type="text" id="messageInput" [(ngModel)]="messageForClient" />
    <button (click)="sendMessageToClient()">Send Message to Client</button>
    <app-client
      [messageFromParent]="messageForClient"
      (messageToParent)="receiveMessageFromClient($event)"
    ></app-client>
  </div>
</div>
